<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <!-- Add any other actions you might want here (e.g., edit, delete) -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Category', new_admin_category_path %>