<h1>About Us</h1>
<p>Jungle is a webstore dedicated to providing regular and exotic plants. From shrubs to houseplants... and even trees! We're garunteed to be your one-stop shop for all things plant!</p>
